.btn-back {
    font-size: 1.2em;
    margin-top: 15px;
    display: inline-block;
    margin-bottom: 57px;
}

.container-details {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;


    .flag {
        width: 35vw;
        grid-row: span 3;
        box-shadow: $lmBoxShadow;
        align-self: center;
        max-width: 670px;
    }

    .details-specifics {
        p {
            margin-bottom: .8rem;
        }
    }

    .details-wide {
        grid-column: span 2;
        padding: 20px 0;
    }

    .details-bordered {
        padding: .2rem .6rem;
        margin: .25rem .4rem;
    }
}

.container-info-page.dark {
    * {
        color: $dmText;
    }

    .flag {
        box-shadow: $dmBoxShadow;
    }

    .btn-back {
        box-shadow: $dmBoxShadow;
        background-color: $dmElements;
    }

    .details-bordered {
        background-color: $dmElements;
        box-shadow: $dmBoxShadow;
    }
}

@media (max-width: $smallDesktopWidth) {
    .container-details {
        grid-template-columns: 1fr 1fr;
        
        .flag {
            grid-column: span 2;
            margin: 0 auto;
            width: 42vw;
        }

        h1 {
            text-align: center;
        }

        * {
            margin: 0 auto;
        }
    }
}

@media (max-width: $mobileWidth) {
    .container-details {
        grid-template-rows: 1fr;

        * {
            grid-column: span 2;
            text-align: center;
        }
    }
}
