header {
    background-color: $lmElements;
    box-shadow: $lmBoxShadow;
    padding: 1.25em 0;
    margin-bottom: 42px;

    .container {
        align-items: center;
    }
}

header.dark {
    background-color: $dmElements;
    box-shadow: $dmBoxShadow;
    color: $dmText;
}

@media (max-width: $mobileWidth) {
    header {
        .container {
            flex-direction: column;

            *:first-child {
                margin-bottom: 10px;
            }
        }
    }
}
