.container-tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;

    .tile {
        background-color: $lmElements;
        border-radius: 5px;
        box-shadow: $lmBoxShadow;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;

        .tile-info {
            padding: 1.5rem 2rem;

            * {
                margin-bottom: .5rem;
            }

            &_name {
                margin-bottom: 1rem;
                font-size: 1.3rem;
            }
        }

        .tile-flag {
            object-fit: cover;
            height: 10vw;
            max-height: 200px;
            width: 100%;
            box-shadow: $lmBoxShadow; 
        }
    }
}

.container-tiles.dark {
    .tile {
        background-color: $dmElements;
        box-shadow: $dmBoxShadow;
        color: $dmText;

        .tile-flag {
            box-shadow: $dmBoxShadow;
        }
    }
}

@media (max-width: $smallDesktopWidth) {
    .container-tiles {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;

        .tile {
            .tile-flag {
                height: 13vw;
            }
        }
    }
}

@media (max-width: $tabletWidth) {
    .container-tiles {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;

        .tile {
            .tile-flag {
                height: 18vw;
            }
        }
    }
}

@media (max-width: $mobileWidth) {
    .container-tiles {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;    

        .tile {
            .tile-flag {
                height: 100vw;
            }
        }
    }
}