//colors
$dmElements: hsl(209, 23%, 22%);
$dmBg: hsl(207, 26%, 17%);
$dmText: #fff;

$lmText: hsl(200, 15%, 8%);
$lmInput: hsl(0, 0%, 52%);
$lmBg: hsl(0, 0%, 98%);
$lmElements: #fff;

$lmBoxShadow: 0px 0px 5px darken(#fff, 20);
$dmBoxShadow: 0px 0px 5px lighten(rgb(0, 0, 0), 20);


$smallDesktopWidth: 1270px;
$tabletWidth: 900px;
$mobileWidth: 600px;