header {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
          box-shadow: 0px 0px 5px #cccccc;
  padding: 1.25em 0;
  margin-bottom: 42px;
}

header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container h3 {
  cursor: pointer;
}

header.dark {
  background-color: #2b3945;
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  color: #fff;
}

@media (max-width: 600px) {
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .container *:first-child {
    margin-bottom: 10px;
  }
}

.container-search {
  height: 52px;
  margin-bottom: 42px;
}

.container-search .dropdown-control {
  width: 210px;
  height: 100%;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
          box-shadow: 0px 0px 5px #cccccc;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0s ease !important;
  transition: background-color 0s ease !important;
}

.container-search .dropdown-menu {
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  max-height: none;
}

.container-search .dropdown-arrow {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  font-weight: bold;
  font-size: .7rem;
}

.container-search .search-box {
  width: 340px;
  line-height: 30px;
  padding-left: 3rem;
  padding-right: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
          box-shadow: 0px 0px 5px #cccccc;
}

.container-search .search-box:focus {
  border: 1px solid #858585;
}

.container-search .search-icon {
  position: absolute;
  left: 1rem;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container-search.dark .dropdown-control {
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  background-color: #2b3945;
  color: #fff;
}

.container-search.dark .dropdown-menu {
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  -webkit-transition: none !important;
  transition: none !important;
  border: none;
}

.container-search.dark .dropdown-menu * {
  color: #fff !important;
  background-color: #2b3945;
}

.container-search.dark .dropdown-menu *:hover {
  background-color: #25313c;
}

.container-search.dark .search-box {
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  background-color: #2b3945;
  color: #fff;
}

.container-search.dark .search-box::-webkit-input-placeholder {
  color: #fff;
}

.container-search.dark .search-box:-ms-input-placeholder {
  color: #fff;
}

.container-search.dark .search-box::-ms-input-placeholder {
  color: #fff;
}

.container-search.dark .search-box::placeholder {
  color: #fff;
}

.container-search.dark .search-box:focus {
  border: 1px solid red;
}

@media (max-width: 900px) {
  .container-search {
    margin-bottom: 114px;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-rows: 52px 52px;
        grid-template-rows: 52px 52px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 20px;
    width: 100%;
  }
  .container-search .search-box,
  .container-search .dropdown-control {
    width: 100%;
  }
}

.container-tiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
}

.container-tiles .tile {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
          box-shadow: 0px 0px 5px #cccccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.container-tiles .tile .tile-info {
  padding: 1.5rem 2rem;
}

.container-tiles .tile .tile-info * {
  margin-bottom: .5rem;
}

.container-tiles .tile .tile-info_name {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.container-tiles .tile .tile-flag {
  -o-object-fit: cover;
     object-fit: cover;
  height: 10vw;
  max-height: 200px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
          box-shadow: 0px 0px 5px #cccccc;
}

.container-tiles.dark .tile {
  background-color: #2b3945;
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  color: #fff;
}

.container-tiles.dark .tile .tile-flag {
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
}

@media (max-width: 1270px) {
  .container-tiles {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
  .container-tiles .tile .tile-flag {
    height: 13vw;
  }
}

@media (max-width: 900px) {
  .container-tiles {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .container-tiles .tile .tile-flag {
    height: 18vw;
  }
}

@media (max-width: 600px) {
  .container-tiles {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .container-tiles .tile .tile-flag {
    height: 100vw;
  }
}

.btn-back {
  font-size: 1.2em;
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 57px;
}

.container-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.container-details .flag {
  width: 35vw;
  grid-row: span 3;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
          box-shadow: 0px 0px 5px #cccccc;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 670px;
}

.container-details .details-specifics p {
  margin-bottom: .8rem;
}

.container-details .details-wide {
  grid-column: span 2;
  padding: 20px 0;
}

.container-details .details-bordered {
  padding: .2rem .6rem;
  margin: .25rem .4rem;
}

.container-info-page.dark * {
  color: #fff;
}

.container-info-page.dark .flag {
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
}

.container-info-page.dark .btn-back {
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  background-color: #2b3945;
}

.container-info-page.dark .details-bordered {
  background-color: #2b3945;
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
}

@media (max-width: 1270px) {
  .container-details {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container-details .flag {
    grid-column: span 2;
    margin: 0 auto;
    width: 42vw;
  }
  .container-details h1 {
    text-align: center;
  }
  .container-details * {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .container-details {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .container-details * {
    grid-column: span 2;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: #fafafa;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 1440px;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  padding: .35em 1em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
          box-shadow: 0px 0px 5px #cccccc;
  background-color: #fff;
  outline: none;
  border: 0;
  cursor: pointer;
}

.darkBg {
  background-color: #202c37;
}
/*# sourceMappingURL=main.css.map */